<div class="page-header">
  <%= link_to scrape_methods_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Scrape Method</h1>
</div>

<%= render 'form', scrape_method: @scrape_method %>
